@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin-left: 6%;
  background-color: #f2f4fc;
}

h1 {
  font-size: 340%;
  color: rgb(41, 46, 71);
  letter-spacing: 3px;
}

h2 {
  color: #6b708d;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

/* Your CSS code goes here */
#navegador {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 14vh;
}

#contact {
  background-color: rgb(7, 42, 200);
  color: white;
  border-width: 0px;
  height: 50px;
  width: 140px;
  margin-right: 7%;
  font-size: 105%;
}

#logo {
  width: 5%;
}
#menu {
  display: flex;
  list-style: none;
}

#menu li {
  margin: 0 10px;
  margin-left: 10px;
  padding-left: 10%;
}

#menu li a {
  text-decoration: none;
  color: #6b708d;
  font-size: 18px;
  font-weight: 500;
}

#menu li a:visited {
  color: dodgerblue;
}
#menu li a:hover {
  color: indigo;
  cursor: pointer;
}
#contact:hover {
  background-color: #292a2b;
  cursor: pointer;
}
/* ------------------------------ Header ------------------------------ */

/* Your CSS code goes here */

.row1 {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}

.column0 {
  width: 50vw;
  padding-top: 10%;
}

.column0 p {
  color: #6b708d;
  font-size: 125%;
  text-align: initial;
  margin-top: 5%;
  line-height: 150%;
}

.column h4 {
  font-weight: 50;

}
.column01 {
  position: relative;
  background-image: url(../images/hero-section/hero-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  width: 50vw;
  height: 600px;
}

#thumb-img {
  position: absolute;
    width: 289px;
    top: 316px;
    right: -51px;
}

#card-img {
  position: absolute;
  width: 289px;
  top: 69px;
  right: 219px;
}


/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Recent projects ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Services ------------------------------ */

/* Your CSS code goes here */
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 35%;
  height: 40%;
  margin: 10%;
}

.column img {
  width: 50px;
  float: left;
}

.column h4:hover {
  cursor: pointer;
}
.column h4 {
  color: blue;
}

.column div {
  background-color: aquamarine;
  border-radius: 100px;
  width: 80px;
  height: 80px;
}

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

#questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 198, 0);
  height: 500px;
  width: 100%;
  margin-left: -100px;
  margin-bottom: 100px;
  padding-top: 100px;
}

#questions h2,
p {
  text-align: center;
}

#emailBox {
  width: 350px;
  height: 90px;
}
/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */
#address {
  line-height: 25px;
  float: left;
  margin-top: 20px;
  color: dimgray;
  text-align: left;
}

#address p{
  text-align: initial;
}

#address img {
  width: 80px;
  margin-bottom: 10px;
}
table {
  float: right;
  color: blue;
  margin-right: 100px;
  margin-bottom: 100px;
}

td {
  padding: 20px;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */
.tituloproject {
  margin-top: 8%;
}
.infoproject {
  margin-top: 2%;
  margin-bottom: 6%;
  margin-right: 7%;
  display: flex;
  justify-content: space-between;
}

.infoproject p {
  font-size: 120%;
}

.projectinfo p {
  text-align: left;
  line-height: 150%;
  font-size: 125%;
  color: rgb(41, 46, 71);
  margin-right: 7%;
  margin-top: 7%;
  margin-bottom: 10%;
}

/* .imagecontainer img{
  width:80;
} */
.imagecontainer {
  height: 450px;
  background-image: url(../images/projects-section/1.jpg);
  width: 1100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 1px 1px 25px rgb(171, 66, 151);
}
/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

#formulario {
  margin-top: 15%;
}
#formularioint {
  margin-top: 7%;
  margin-bottom: 5%;
  width: 92%;
  display: flex;
  flex-direction: column;
  color: #6b708d;
  font-size: 120%;
  gap: 10px;
}
#formulariofilas {
  display: flex;
  justify-content: space-between;
}
#formulariofilas label {
  display: flex;
  flex-direction: column;
  width: 49%;
}
input {
  border: none;
  background-color: rgb(228, 230, 240);
  height: 60px;
  padding-left: 2%;
  font-size: 80%;
}

#comentarios {
  border: none;
  background-color: rgb(228, 230, 240);
}

#comentarios :placeholder {
  font-family: "roboto";
  padding-left: 2%;
  padding-top: 2%;
}
#submitbut {
  background-color: #072ac8;
  color: white;
  font-size: 80%;
  margin-bottom: 10%;
}
textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 130%;
  padding: 2%;
}

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
